.login-container{
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 1%;
        border-style: solid;
        border-color: #96B566;
        background-color: #ffffff;
        text-align: center;
        display: none;
    }
    
    #login-button{
      background-color: #96B566;
    }